@page "/"
@using AntDesign;

<Layout Style="display:flex; background-color: transparent;">
    <Sider Style="background-color: transparent; margin: 0.5em;">
        @*<div style="width:14.5em;">*@
        <div>
            <a href="https://github.com/vassago89/">
                <Image Preview="false" src="https://avatars.githubusercontent.com/vassago89"></Image>
            </a>
            <Divider Orientation="left"><b>Infomation</b></Divider>
            <p>정해민</p>
            <p>vassago89@gmail.com</p>
            <Divider Orientation="left"><b>Language</b></Divider>
            <AntList DataSource="@Language" ItemLayout="ListItemLayout.Horizontal">
                <ListItem>
                    <ListItemMeta>
                        <AvatarTemplate>
                            <div>
                                <Tooltip Placement="PlacementType.BottomCenter" Title="@context.Desc">
                                    <Image Preview="false" Height="2em" Width="2em" Src="@context.Src"></Image>
                                </Tooltip>
                            </div>
                        </AvatarTemplate>
                        <TitleTemplate>
                            <Progress Percent=@context.Score />
                        </TitleTemplate>
                    </ListItemMeta>
                </ListItem>
            </AntList>
            <Divider Orientation="left"><b>UI Language</b></Divider>
            <AntList DataSource="@UI" ItemLayout="ListItemLayout.Horizontal">
                <ListItem>
                    <ListItemMeta>
                        <AvatarTemplate>
                            <Tooltip Placement="PlacementType.BottomCenter" Title="@context.Desc">
                                <Image Preview="false" Height="2em" Width="2em" Src="@context.Src"></Image>
                            </Tooltip>
                        </AvatarTemplate>
                        <TitleTemplate>
                            <Progress Percent=@context.Score />
                        </TitleTemplate>
                    </ListItemMeta>
                </ListItem>
            </AntList>
            <Divider Orientation="left"><b>Tools</b></Divider>
            <AntList Grid="Gutter" DataSource="@Tool">
                <ListItem>
                    <Tooltip Placement="PlacementType.BottomCenter" Title="@context.Desc">
                        <Image Preview="false" Height="2em" Width="2em" Src="@context.Src"></Image>
                    </Tooltip>
                </ListItem>
            </AntList>
        </div>
    </Sider>
    <Content style="margin: 1em">
        <Divider><b>Experiences</b></Divider>
        <Timeline Mode="left">
            <TimelineItem Dot="DotTemplate">
                <h5>2021</h5>
                <Descriptions Bordered>
                    <DescriptionsItem Title="소속">
                        <div style="width: 7.5em">다이트론 코리아</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="입사일">
                        <div style="width: 7.5em">2021 - 01</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="퇴사일">
                        <div style="width: 7.5em">-</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="직책">
                        선임 연구원
                    </DescriptionsItem>
                    <DescriptionsItem Title="직무">
                        정부 과제
                    </DescriptionsItem>
                </Descriptions>
            </TimelineItem>
            <TimelineItem>
                <h5>2017</h5>
                <Descriptions Bordered>
                    <DescriptionsItem Title="소속">
                        <div style="width: 7.5em">유니아이</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="입사일">
                        <div style="width: 7.5em">2017 - 03</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="퇴사일">
                        <div style="width: 7.5em">2020 - 10</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="직책">
                        주임 연구원
                    </DescriptionsItem>
                    <DescriptionsItem Title="직무">
                        소프트웨어
                    </DescriptionsItem>
                </Descriptions>
            </TimelineItem>
            <TimelineItem>
                <h5>2015</h5>
                <Descriptions Bordered>
                    <DescriptionsItem Title="소속">
                        <div style="width: 7.5em">Planb Solutions</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="입사일">
                        <div style="width: 7.5em">2015 - 03</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="퇴사일">
                        <div style="width: 7.5em">2017 - 02</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="직책">
                        프리랜서
                    </DescriptionsItem>
                    <DescriptionsItem Title="직무">
                        검사 알고리즘
                    </DescriptionsItem>
                </Descriptions>
                <br />
                <Descriptions Bordered>
                    <DescriptionsItem Title="소속">
                        <div style="width: 7.5em">명지학교 대학원</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="입학일">
                        <div style="width: 7.5em">2015 - 03</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="졸업일">
                        <div style="width: 7.5em">2017 - 02</div>
                    </DescriptionsItem>
                    <DescriptionsItem Span="2" Title="전공">
                        전자공학과 영상처리 연구실
                    </DescriptionsItem>
                    <DescriptionsItem Title="상태">
                        수료
                    </DescriptionsItem>
                </Descriptions>
            </TimelineItem>
            <TimelineItem>
                <h5>2008</h5>
                <Descriptions Bordered>
                    <DescriptionsItem Title="소속">
                        <div style="width: 7.5em">명지학교</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="입학일">
                        <div style="width: 7.5em">2008 - 03</div>
                    </DescriptionsItem>
                    <DescriptionsItem Title="졸업일">
                        <div style="width: 7.5em">2015 - 02</div>
                    </DescriptionsItem>
                    <DescriptionsItem Span="2" Title="전공">
                        전자공학과
                    </DescriptionsItem>
                    <DescriptionsItem Title="상태">
                        졸업
                    </DescriptionsItem>
                </Descriptions>
            </TimelineItem>
        </Timeline>
        <Divider><b>Projects</b></Divider>

        <Divider><b>Gallery</b></Divider>
        <Carousel Autoplay="TimeSpan.FromSeconds(2)" Style="background-color: aliceblue;">
            <CarouselSlick>
                <Image Preview="false" Height="320px" Src="static/1.PNG"></Image>
            </CarouselSlick>
            <CarouselSlick>
                <Image Preview="false" Height="320px" Src="static/2.PNG"></Image>
            </CarouselSlick>
            <CarouselSlick>
                <Image Preview="false" Height="320px" Src="static/3.PNG"></Image>
            </CarouselSlick>
            <CarouselSlick>
                <Image Preview="false" Height="320px" Src="static/4.PNG"></Image>
            </CarouselSlick>
        </Carousel>
    </Content>
</Layout>


<style>
    .side_bar {
        background-color: aliceblue;
        left: 0;
        right: 0;
        height: 3.5rem;
        opacity: 0.9;
        position: fixed;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .body {
        display: flex;
        left: 0;
        right: 0;
        margin-top: 3.5rem;
        height: 100%;
        overflow: hidden;
    }
</style>

<style>
    .ant-carousel {
    }

        .ant-carousel .slick-slide {
            text-align: center;
            background-color: aliceblue;
        }
</style>

@code
{
    public RenderFragment DotTemplate { get; } =
    @<Template>
        <Icon Type="clock-circle" Style="font-size: 1.5em;" />
    </Template>;

    public ListGridType Gutter { get; } = new ListGridType
    {
    Gutter = 16,
    Xs = 1,
    Sm = 2,
    Md = 4,
    Lg = 4,
    Xl = 6,
    Xxl = 3,
    Column = 3
    };

    public IEnumerable<(string Src, string Desc, double Score)> Language { get; private set; }
    public IEnumerable<(string Src, string Desc, double Score)> UI { get; private set; }
    public IEnumerable<(string Src, string Desc)> Tool { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        var language = new List<(string, string, double)>();
        language.Add(("static/icons/csharp.png", "c#", 70));
        language.Add(("static/icons/cplusplus.png", "c++", 40));
        language.Add(("static/icons/python.png", "python", 25));


        var ui = new List<(string, string, double)>();
        ui.Add(("static/icons/xaml.png", "xaml", 50));
        ui.Add(("static/icons/html5.png", "html", 10));
        ui.Add(("static/icons/css3.png", "css", 10));

        var tool = new List<(string, string)>();
        tool.Add(("static/icons/vs.png", "visual studio"));
        tool.Add(("static/icons/vs-code.png", "visual studio code"));
        tool.Add(("static/icons/opencv.png", "opencv"));
        tool.Add(("static/icons/cuda.png", "cuda"));
        tool.Add(("static/icons/prism.png", "prism"));
        tool.Add(("static/icons/entityframework6.png", "entity framework6"));
        tool.Add(("static/icons/firebird.png", "fire bird db"));

        Language = language;
        UI = ui;
        Tool = tool;

        await base.OnInitializedAsync();
    }
}
