@page "/"
@using AntDesign;
@using vassago89.github.io.Codes;
@using System.IO;

@inject HttpClient Http

<div style="display:block;">
    <div id="intro" class="full">
        @*<div class="background-full" style="grid-template-columns: repeat( @col, 1fr); grid-template-rows: repeat( @row, 1fr);">
            @for (int i = 0; i < row * col; i++)
            {
                <img src="@Projects[i]" style="padding: 12px; max-height: 100%; min-height: 100%; min-width: 100%; max-width: 100%; object-fit: fill; " />
            }
        </div>*@
        <Title Level="2" Class="middle" style="z-index:1">
            Intro
        </Title>
        <Divider></Divider>
        <div style="display:grid; grid-template-columns: repeat(3, 1fr); z-index:1;">
            <div>
                <Title Level="4"><b>Job</b></Title>
                <Paragraph><b>Image Processing</b></Paragraph>
                <Paragraph><b>Desktop Apllication Development</b></Paragraph>
                <Title Level="4"><b>Skills</b></Title>
                <Paragraph><b>Language</b></Paragraph>
                <img title="C#" src="/static/icons/csharp.png" alt="C#" height="32" width="32">
                <img title="C++" src="/static/icons/cplusplus.png" alt="C++" height="32" width="32">
                <img title="Python" src="/static/icons/python.png" alt="Python" height="32" width="32">
                <Paragraph><b>Library</b></Paragraph>
                <img title="OpenCV" src="/static/icons/opencv.png" alt="OpenCV" height="32" width="32">
                <img title="WPF" src="/static/icons/wpf.png" alt="WPF" height="32" width="32">
                <img title="Prism" src="/static/icons/prism.png" alt="Prism" height="32" width="32">
                <img title="Entity Framework" src="/static/icons/entity.svg" alt="Entity Framework" height="32" width="32">
                <img title="Cuda" src="/static/icons/cuda.png" alt="Cuda" height="32" width="32">
                <Paragraph><b>Tool</b></Paragraph>
                <img title="Git" src="/static/icons/github.png" alt="Git" height="32" width="32">
                <img title="Visual Studio" src="/static/icons/vs.png" alt="Visual Studio" height="32" width="32">
                <img title="VS Code" src="/static/icons/vs-code.png" alt="VS Code" height="32" width="32">
            </div>
            <div>

            </div>
            <div style="width: 52rem;">
                <Carousel Autoplay="TimeSpan.FromSeconds(4)">
                    @foreach (var project in Projects)
                    {
                        <CarouselSlick>
                            <img src="@project" style="padding: 4rem 4rem; height: 30rem; width: 52rem; object-fit: fill; " />
                        </CarouselSlick>
                    }
                </Carousel>
            </div>
        </div>
    </div> 
    <div id="experience" class="full invert">
        @*<Title Level="2" Class="middle">
                Experience
            </Title>*@
        <div class="row-flex">
            <div style="display: flex; flex-direction: column; ">
                <Title Level="4" Class="middle">
                    Experience
                </Title>
                <Divider/>
                <Timeline>
                    <TimelineItem>
                        <Paragraph>다이트론 코리아(주)</Paragraph>
                        <div style="display: flex">
                            <div class="gray-text">
                                <p>직급</p>
                                <p>입사일</p>
                                <p>퇴사일</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>선임 연구원 (과제)</p>
                                <p>2021-01</p>
                                <p>2021-12</p>
                            </div>
                            <div style="margin: 0rem 2rem;"></div>
                            <div class="gray-text row-middle">
                                <p>직무</p>
                            </div>
                            <div class="border"></div>
                            <div class="row-middle">
                                <p>도로교통연구원 과제</p>
                                <p>광학 검사 프로그램 개발</p>
                            </div>
                        </div>
                    </TimelineItem>
                    <TimelineItem>
                        <Paragraph>(주)유니아이</Paragraph>
                        <div style="display: flex">
                            <div class="gray-text row-middle">
                                <p>직급</p>
                                <p>입사일</p>
                                <p>퇴사일</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>주임 연구원</p>
                                <p>2017-01</p>
                                <p>2020-10</p>
                            </div>
                            <div style="margin: 0rem 2rem;"></div>
                            <div class="gray-text row-middle">
                                <p>직무</p>
                            </div>
                            <div class="border"></div>
                            <div class="row-middle">
                                <p>광학 검사 프로그램 개발</p>
                                <p>광학계 검토</p>
                            </div>
                        </div>
                    </TimelineItem>
                </Timeline>
            </div>
            <div style="display: flex; flex-direction: column;">
                <Title Level="4" Class="middle">
                    Education
                </Title>
                <Divider />
                <Timeline>
                    <TimelineItem>
                        <Paragraph>명지대학원</Paragraph>
                        <div style="display: flex">
                            <div class="gray-text row-middle">
                                <p>입학일</p>
                                <p>졸업일</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>2015-03</p>
                                <p>2017-02</p>
                            </div>
                            <div style="margin: 0rem 2rem;"></div>
                            <div class="gray-text">
                                <p>전공</p>
                                <p>학점</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>전자공학과 (영상처리 연구실)</p>
                                <p>4.19 / 4.5</p>
                            </div>
                        </div>
                    </TimelineItem>
                    <TimelineItem>
                        <Paragraph>명지대학교</Paragraph>
                        <div style="display: flex">
                            <div class="gray-text row-middle">
                                <p>입학일</p>
                                <p>졸업일</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>2008-03</p>
                                <p>2015-02</p>
                            </div>
                            <div style="margin: 0rem 2rem;"></div>
                            <div class="gray-text">
                                <p>전공</p>
                                <p>학점</p>
                            </div>
                            <div class="border"></div>
                            <div>
                                <p>전자공학과</p>
                                <p>3.21 / 4.5</p>
                            </div>
                        </div>
                    </TimelineItem>
                </Timeline>
            </div>
        </div>
    </div>
    <div id="project" class="full">
        <Title Level="2" Class="middle">
            Project
        </Title>
        <Divider/>
        <div class="row-flex">
            <div style="display: flex; flex-direction: column; ">
                <Timeline Mode="left">
                    <TimelineItem>Create a services</TimelineItem>
                    <TimelineItem>Solve initial network problems</TimelineItem>
                    <TimelineItem>Technical testing</TimelineItem>
                    <TimelineItem>Network problems being solved</TimelineItem>
                </Timeline>
            </div>
        </div>
    </div>
    <div id="code" class="full invert">
        <Title Level="2" Class="middle">
            Code Style
        </Title>
        <Divider/>
        <Menu Theme="MenuTheme.Light" Mode=MenuMode.Horizontal SelectedKeysChanged="CodeChanged" SelectedKeys="@Selected">
            <MenuItem Key="Config">
                설정
            </MenuItem>
            <MenuItem Key="IoC">
                의존성 주입
            </MenuItem>
            <MenuItem Key="PipeLine">
                순차 &amp; 병렬 처리
            </MenuItem>
            <MenuItem Key="EventBus">
                프로세스간 통신
            </MenuItem>
        </Menu>
        <div class="code-style @ConfigCollapse">
            <IConfig></IConfig>
        </div>
        <div class="code-style @PipeLineCollapse">
            <IPipeLine></IPipeLine>
        </div>
        <div class="code-style @EventBusCollapse">
            <IEventBus></IEventBus>
        </div>
        <div class="code-style @IoCCollapse">
            <IoC></IoC>
        </div>
    </div>
</div>
@code
{
    readonly string Collapse = "collapse";


    string[] Selected = { "Config" };

    string ConfigCollapse = "";
    string EventBusCollapse = "collapse";
    string PipeLineCollapse = "collapse";
    string IoCCollapse = "collapse";

    int row;
    int col;

    List<string> Projects { get; set; } = new List<string>();

    string[] projectNames = new string[]
    {
        "SfM.png",
        "Mold.png",
        "FIAT.png",
        "Offline.png",
        "Gravure.png",
        "print.png",
        "Wire.png",
        "MLCC.png",
        "Tray.png",
        "Plaster.png",
        "MLCC_Etc.png"
    };

    readonly string imageFolder = "/static/intro";

    protected override async Task OnInitializedAsync()
    {
        ProjectSuffle();
        row = (int)Math.Sqrt(Projects.Count);
        col = (int)Math.Sqrt(Projects.Count);

        StateHasChanged();

        //Task.Run(async () =>
        //{
        //    while (true)
        //    {
        //        await Task.Delay(1000);
        //        ProjectSuffle();
        //        StateHasChanged();
        //    }
        //});
    }

    void ProjectSuffle()
    {
        Projects.Clear();

        foreach (var name in projectNames)
        {
            Projects.Add(Path.Combine(imageFolder, name));
        }

        //Projects = Projects.OrderBy(p => Guid.NewGuid()).ToList();
    }

    void CodeChanged(string[] keys)
    {
        switch (keys.First())
        {
            case "Config":
                ConfigCollapse = "";
                EventBusCollapse = Collapse;
                PipeLineCollapse = Collapse;
                IoCCollapse = Collapse;
                break;
            case "EventBus":
                ConfigCollapse = Collapse;
                EventBusCollapse = "";
                PipeLineCollapse = Collapse;
                IoCCollapse = Collapse;
                break;
            case "PipeLine":
                ConfigCollapse = Collapse;
                EventBusCollapse = Collapse;
                PipeLineCollapse = "";
                IoCCollapse = Collapse;
                break;
            case "IoC":
                ConfigCollapse = Collapse;
                EventBusCollapse = Collapse;
                PipeLineCollapse = Collapse;
                IoCCollapse = "";
                break;
        }

        Selected = keys;
    }
}
